/* Tailwind CSS */
@import './theme/tailwind.css';

/* PrimeReact Theme */
@import 'primereact/resources/themes/lara-light-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import './theme/primereact-theme.css';

/* Global Styles */
@import './styles/globals.css';
